<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <div id="topHeader">
        <a href="/">toyBlog</a>
        <form action="/member/findBlog">
            <input type="text" />
            <input type="submit" />
        </form>
        <div id="login" th:if="${session.memberSession != null}">
            <p>닉네임님 환영합니다</p>
            <a href="/memebr/logout">로그아웃</a>
            <a href="/member/mypage">마이페이지</a>
        </div>
        <div id="notLogin" th:if="${session.memberSession == null}">
            <a href="/member/login">로그인</a>
            <a href="/member/new">회원가입</a>
        </div>
    </div>
</div>
</html>